body {
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/papyrus-dark.png);
}

header {
  width: 100%;
  box-shadow: 0 0 40px #007dc5;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 2;
}
header .contenedor-nav {
  width: 80%;
  margin: auto;
}
header .contenedor-nav .navegacion {
  justify-content: space-between;
}
header .contenedor-nav .navegacion a .logo {
  padding: 5px 5px;
  background-color: black;
  height: 80px;
}
header .contenedor-nav .navegacion .contenedor-menu {
  width: 45%;
  display: flex;
  justify-content: space-between;
}
header .contenedor-nav .navegacion .contenedor-menu li {
  list-style: none;
}
header .contenedor-nav .navegacion .contenedor-menu li .inicio {
  color: white;
  transition: 1.5s;
  padding: 5px 10px;
  text-decoration: none;
}
header .contenedor-nav .navegacion .contenedor-menu li .inicio:hover {
  color: #008ee0;
  transition: 1.5s;
  box-shadow: 0 0 15px #008ee0;
  text-shadow: 0 0 15px #008ee0;
}
header .contenedor-nav .navegacion .contenedor-menu li .sobre-mi {
  padding: 5px 10px;
  text-decoration: none;
  transition: 1.5s;
  color: white;
}
header .contenedor-nav .navegacion .contenedor-menu li .sobre-mi:hover {
  color: #008ee0;
  transition: 1.5s;
  box-shadow: 0 0 15px #008ee0;
  text-shadow: 0 0 15px #008ee0;
}
header .contenedor-nav .navegacion .contenedor-menu li .mis-habilidades {
  color: white;
  padding: 5px 10px;
  transition: 1.5s;
  text-decoration: none;
}
header .contenedor-nav .navegacion .contenedor-menu li .mis-habilidades:hover {
  color: #008ee0;
  transition: 1.5s;
  box-shadow: 0 0 15px #008ee0;
  text-shadow: 0 0 15px #008ee0;
}
header .contenedor-nav .navegacion .contenedor-menu li .contacto {
  color: white;
  transition: 1.5s;
  padding: 5px 10px;
  text-decoration: none;
}
header .contenedor-nav .navegacion .contenedor-menu li .contacto:hover {
  color: #008ee0;
  transition: 1.5s;
  box-shadow: 0 0 15px #008ee0;
  text-shadow: 0 0 15px #008ee0;
}

.portada {
  background-image: url("../img/portada.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 600px;
  z-index: -2;
}
.portada .titulo-principal {
  position: relative;
  top: 200px;
  display: flex;
  justify-content: center;
}
.portada .titulo-principal .titulo-a {
  font-size: 50px;
  color: #0ff;
  display: flex;
  align-items: flex-start;
  text-shadow: 5px 3px 15px #0ff;
}
.portada .titulo-principal .titulo-b {
  font-size: 60px;
  color: white;
  transition: 1.5s;
  text-shadow: 5px 3px 8px #adadad;
}
.portada .titulo-principal .titulo-c {
  font-size: 50px;
  color: #0ff;
  display: flex;
  align-items: flex-end;
  text-shadow: #0ff;
}

section .contenedor-sobre-mi .titulo-sobre-mi {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-top: 130px;
  margin-bottom: 100px;
}
section .contenedor-sobre-mi .contenedor-texto-imagen {
  box-shadow: -10px -5px 40px #007dc5, 20px 0px 40px #a100f1, 0 -5px 40px #007dc5, 25px 10px 40px #8500c7;
  width: 60%;
  margin: auto;
  display: flex;
  border-radius: 3%;
}
section .contenedor-sobre-mi .contenedor-texto-imagen .texto {
  color: white;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 10px;
  font-size: 17px;
}
section .contenedor-sobre-mi .contenedor-texto-imagen .mi-foto {
  height: 400px;
  border-radius: 3%;
  transition: 2s;
}
section .contenedor-sobre-mi .contenedor-texto-imagen .mi-foto:hover {
  transition: 2s;
  transform: scale(1.2);
}

.contenedor-titulo-mis-habilidades {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 90px;
}
.contenedor-titulo-mis-habilidades .titulo-mis-habilidades {
  font-size: 50px;
  color: white;
}

.contenedor-mis-habilidades {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}
.contenedor-mis-habilidades .contenedor-card {
  width: 200px;
  height: 300px;
  position: relative;
}
.contenedor-mis-habilidades .contenedor-card:hover .contenedor-a {
  transform: translateY(-50px);
  transition: 1.5s;
}
.contenedor-mis-habilidades .contenedor-card:hover .contenedor-b {
  transform: translateY(100px);
  transition: 1.5s;
}
.contenedor-mis-habilidades .contenedor-card .contenedor-a {
  position: relative;
  background-color: #333;
  z-index: 1;
  height: 150px;
  margin-top: 50px;
  box-shadow: 0 20px 50px rgb(0, 0, 0);
  justify-content: center;
  transition: 1.5s;
}
.contenedor-mis-habilidades .contenedor-card .contenedor-a .imagen .imagenes {
  width: 110px;
}
.contenedor-mis-habilidades .contenedor-card .contenedor-b {
  position: relative;
  height: 150px;
  margin-top: -150px;
  background-color: rgb(90, 90, 90);
  transition: 1.5s;
}
.contenedor-mis-habilidades .contenedor-card .contenedor-b .texto-html {
  text-align: center;
}
.contenedor-mis-habilidades .contenedor-card .contenedor-b .texto-html .texto {
  transform: translateY(25px);
  margin-left: 2px;
}

.contenedor-footer {
  height: 150px;
  box-shadow: 0 0 25px #007dc5;
}
.contenedor-footer .titulo-redes-sociales {
  font-size: 20px;
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 40px;
  padding: 10px;
}
.contenedor-footer .contenedor-redes {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.contenedor-footer .contenedor-redes .whatsapp {
  background-color: rgb(77, 77, 77);
  padding: 10px 10px;
  font-size: 35px;
  color: #007fd3;
  text-shadow: 0 2px 5px #007fd3;
  box-shadow: 5px 5px 10px #007fd3;
  border-radius: 10%;
}
.contenedor-footer .contenedor-redes .whatsapp:hover {
  transform: scale(1.1);
  box-shadow: 7px 7px 20px;
  transition: 1s;
}
.contenedor-footer .contenedor-redes .instagram {
  background-color: rgb(77, 77, 77);
  padding: 10px 10px;
  font-size: 35px;
  color: #007fd3;
  text-shadow: 0 2px 5px #007fd3;
  box-shadow: 5px 5px 10px #007fd3;
  border-radius: 10%;
}
.contenedor-footer .contenedor-redes .instagram:hover {
  transform: scale(1.1);
  box-shadow: 7px 7px 20px;
  transition: 1s;
}
.contenedor-footer .contenedor-redes .twitter {
  background-color: rgb(77, 77, 77);
  padding: 10px 10px;
  font-size: 35px;
  color: #007fd3;
  text-shadow: 0 2px 5px #007fd3;
  box-shadow: 5px 5px 10px #007fd3;
  border-radius: 10%;
}
.contenedor-footer .contenedor-redes .twitter:hover {
  transform: scale(1.1);
  box-shadow: 7px 7px 20px;
  transition: 1s;
}

.contenedor-mis-habilidades-b .contenedor-card-b:hover .contenedor-a, .contenedor-mis-habilidades .contenedor-card:hover .contenedor-a {
  box-shadow: inset 0 0 70px whitesmoke, inset 10px 0 40px #007dc5, inset -10px 0 40px #a100f1, inset 10px 0 130px #007dc5, inset -10px 0 130px #a100f1, 0 0 25px #fff, -5px 0 40px rgb(0, 106, 135), 5px 0 40px #a100f1;
}

.contenedor-mis-habilidades-b .contenedor-card-b .contenedor-a .imagen .imagenes, .contenedor-mis-habilidades-b .contenedor-card-b .contenedor-a, header .contenedor-nav .navegacion, .contenedor-mis-habilidades .contenedor-card .contenedor-a, .contenedor-mis-habilidades .contenedor-card .contenedor-a .imagen .imagenes {
  display: flex;
  align-items: center;
}

section .contenedor-sobre-mi-b .titulo-sobre-mi-b {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-top: 90px;
  margin-bottom: 70px;
}
section .contenedor-sobre-mi-b .contenedor-texto-imagen-b {
  box-shadow: -10px -5px 40px #007dc5, 20px 0px 40px #a100f1, 0 -5px 40px #007dc5, 25px 10px 40px #8500c7;
  width: 60%;
  margin: auto;
  display: flex;
  border-radius: 3%;
  margin-bottom: 70px;
}
section .contenedor-sobre-mi-b .contenedor-texto-imagen-b .texto-b {
  color: white;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 10px;
  font-size: 17px;
}
section .contenedor-sobre-mi-b .contenedor-texto-imagen-b .mi-foto-b {
  height: 400px;
  border-radius: 3%;
  transition: 2s;
}
section .contenedor-sobre-mi-b .contenedor-texto-imagen-b .mi-foto-b:hover {
  transition: 2s;
  transform: scale(1.2);
}

.contenedor-titulo-mis-habilidades-b {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 80px;
}
.contenedor-titulo-mis-habilidades-b .titulo-mis-habilidades-b {
  font-size: 50px;
  color: white;
}

.contenedor-mis-habilidades-b {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}
.contenedor-mis-habilidades-b .contenedor-card-b {
  width: 200px;
  height: 300px;
  position: relative;
}
.contenedor-mis-habilidades-b .contenedor-card-b:hover .contenedor-a {
  transform: translateY(-50px);
  transition: 1.5s;
}
.contenedor-mis-habilidades-b .contenedor-card-b:hover .contenedor-b {
  transform: translateY(100px);
  transition: 1.5s;
}
.contenedor-mis-habilidades-b .contenedor-card-b .contenedor-a {
  position: relative;
  background-color: #333;
  z-index: 1;
  height: 150px;
  margin-top: 50px;
  box-shadow: 0 20px 50px rgb(0, 0, 0);
  justify-content: center;
  transition: 1.5s;
}
.contenedor-mis-habilidades-b .contenedor-card-b .contenedor-a .imagen .imagenes {
  width: 110px;
}
.contenedor-mis-habilidades-b .contenedor-card-b .contenedor-b {
  position: relative;
  height: 150px;
  margin-top: -150px;
  background-color: rgb(90, 90, 90);
  transition: 1.5s;
}
.contenedor-mis-habilidades-b .contenedor-card-b .contenedor-b .texto-html {
  text-align: center;
}
.contenedor-mis-habilidades-b .contenedor-card-b .contenedor-b .texto-html .texto {
  transform: translateY(25px);
  margin-left: 2px;
}

/*# sourceMappingURL=style.css.map */
