%mis-habilidades{
    box-shadow:
    inset 0 0 70px whitesmoke,
    inset 10px 0 40px #007dc5,
    inset -10px 0 40px #a100f1,
    inset 10px 0 130px #007dc5,
    inset -10px 0 130px #a100f1,
    0 0 25px #fff,
    -5px 0 40px rgb(0, 106, 135),
    5px 0 40px #a100f1;
}
%display{
    display: flex;
    align-items: center;
}