$navegacion:(
    color: #008ee0,
    transition: 1.5s,
    box-shadow: 0 0 15px  #008ee0,
    text-shadow: 0 0 15px #008ee0,
);
$titulo-principal:(
    color: #0ff,
    text-shadow: 5px 3px 15px #0ff,
);
$colores-footer:(
    color: #007fd3,
    text-shadow: 0 2px 5px#007fd3,
    box-shadow:  5px 5px 10px  #007fd3,
);