@import "../base/mapas";
@import "../base/mixin";
.contenedor-nav{
    box-shadow: 0 0 40px #007dc5;
    height: 70px;
    top:0;
    z-index: 2;
    .navegacion{
        width: 80%;
        position: sticky;
        top: 0;
        margin: auto;
        .contenedor-logo{
            .logo{
                margin-top: -15px;
                padding: 5px 5px;
                background-color: black;
                height: 80px;
            }
        }
        .navbar-toggler{
            border: solid 2px #007dc5;
            background-color: rgba(255, 255, 255, 0.308);
           @media screen and (max-width:992px) {
               background-color: #007dc557;
           }
        }
        .contenedor-menu-principal{
            .contenedor-menu{
                width: 100%;
                margin-top:-25px;
                display: flex;
                justify-content: flex-end;
                @media screen and (max-width:992px) {
                    margin-top: 30px;
                    width: 25%;
                }
                li{
                    .menu{
                        color: white;
                        padding: 5px 10px;
                        transition: 1.5s;
                        text-decoration: none;
                        &:hover{
                            color: #008ee0;
                            transition: 1.5s;
                            box-shadow: 0 0 15px  #008ee0;
                            text-shadow: 0 0 15px #008ee0; 
                        }
                    }
                }
            }
        }
    }
}